/* You can add global styles to this file, and also import other style files */
html, body {
  font-family: Arial, Helvetica, sans-serif;
}

canvas {
  border: 5px solid GrayText;
}
.container {
  text-align: center;
}
.button {
  padding: 0.4rem;
}
